.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  padding: 0.75rem 0.5rem;
  font-weight: bold;
  border: 1px solid var(--color-border-dark);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: var(--color-brand);
  }
}

.button:active {
  color: var(--color-brand);
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}
