.notice {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: var(--color-white);
}

.top.blue {
  background-color: var(--color-blue);
}

.top.green {
  background-color: var(--color-green);
}

.message {
  padding: 1rem 0.5rem;
  font-size: var(--font-14);
}

.message.blue {
  background-color: var(--color-blue-light);
}

.message.green {
  background-color: var(--color-green-light);
}
