:root {
  /* color */
  --color-brand: #9a62e6;
  --color-border: #e5e5e5;
  --color-border-dark: #8c8d96;
  --color-blue: #6eb1dd;
  --color-blue-light: #e8f2fa;
  --color-green: #7cc47a;
  --color-green-light: #e7f9e6;
  --color-white: #f1f1f1;

  /* font size */
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-24: 1.5rem;

  /* box shadow */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  /* breakpoint */
  --mobile-786: 48rem;
  --desktop-1280: 80rem;
  --desktop-1536: 96rem;

  /* layout */
  --screen-max-width: 96rem;
  --side-padding: 0.75rem;
}

body {
  min-height: 100vh;
}
