.bookmark {
  position: absolute;
  right: 0.063rem;
  bottom: 1rem;
  z-index: var(--bookmark-star-level);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-dark);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .bookmark:hover {
    background-color: var(--color-brand);
  }
}

.bookmark:active {
  background-color: var(--color-brand);
}
