.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;
  background-color: var(--color-blue-dark);
  filter: grayscale(1);
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
}

.card.is-registred {
  filter: grayscale(0);
}

.card.green {
  background-color: var(--color-green-second);
  border-radius: 0.5rem 0.5rem 0 0;
}

.card.is-dragging,
.card.green.is-dragging {
  background-color: var(--color-brand);
  filter: none;
  opacity: 0.5;
}

.card.cursor-grab {
  cursor: grab;
}

.preview-line {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  display: none;
  width: 112%;
  height: 112%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
}

.preview-line.destination {
  display: block;
  background-color: var(--color-red);
  animation: destination 1s ease-in-out infinite;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.image {
  object-fit: contain;
  padding: 0.25rem;
  user-select: none;
  -webkit-user-drag: none;
}

.name-container {
  width: 100%;
  padding: 0.3rem 0 0.2rem;
  overflow: hidden;
  font-size: var(--font-11);
  color: var(--color-white);
  text-align: center;
  text-overflow: ellipsis;
}

.modifier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2rem;
}

.modifier span {
  width: 100%;
  overflow: hidden;
  color: var(--color-yellow);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  white-space: nowrap;
}

@media screen and (min-width: 48rem) {
  .name-container {
    font-size: var(--font-12);
  }

  .name {
    font-size: var(--font-12);
  }
}

@keyframes destination {
  0% {
    width: 112%;
  }
  50% {
    width: 117%;
  }
  100% {
    width: 112%;
  }
}
