.youtube {
  width: 100%;
  margin: 0.25rem 0;
}

.button {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  font-size: var(--font-12);
  color: var(--color-white);
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid #f00;
  border-radius: 2rem;
  box-shadow: var(--shadow-lg);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: rgba(255, 0, 0, 0.8);
  }
}

.video {
  max-width: 900px;
  margin-bottom: 1rem;
}

.video-ratio {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
