.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.item {
  width: calc(20% - 0.25rem);
  min-width: calc(3.5rem - 0.25rem);
  max-width: calc(4.5rem - 0.25rem);
}

@media screen and (min-width: 48rem) {
  .item {
    width: calc(10% - 0.25rem);
    min-width: calc(4.5rem - 0.25rem);
    max-width: calc(5rem - 0.25rem);
  }
}
