:root {
  /* color */
  --color-brand: #9a62e6;
  --color-border: #e5e5e5;
  --color-border-dark: #8c8d96;
  --color-bg: #fff;
  --color-font: #0f0f0f;
  --color-font-second: #060606;
  --color-gray: #f2f2f2;
  --color-blue: #6eb1dd;
  --color-blue-light: #e8f2fa;
  --color-green: #7cc47a;
  --color-green-light: #e7f9e6;
  --color-red: #ef4b56;
  --color-yellow: #ffde59;
  --color-dark: #0f0f0f;
  --color-white: #fafafa;

  /* font size */
  --font-11: 0.6875rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-24: 1.5rem;

  /* box shadow */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);

  /* breakpoint */
  --mobile-786: 48rem;
  --desktop-1280: 80rem;
  --desktop-1536: 96rem;

  /* layout */
  --screen-max-width: 96rem;
  --side-padding: 0.75rem;

  /* z-index */
  --category-detail-tab-level: 80;
  --global-header-level: 90;
  --background-overlay-level: 100;
  --sidebar-level: 110;
}

html[data-theme='dark'] {
  --color-brand: #d7bdfe;
  --color-border: #3f3f3f;
  --color-border-dark: #6a6a6a;
  --color-bg: #1e1e20;
  --color-font: #f3f3f3;
  --color-font-second: #aaa;
  --color-gray: #313233;
}

body {
  min-height: 100vh;
  font-size: var(--font-14);
  color: var(--color-font);
  background-color: var(--color-bg);
}
