.list {
  height: 70vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.link {
  display: inline-block;
  width: 100%;
  padding: 0.3rem 0;
  margin: 0.2rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link.select {
  background-color: var(--color-border);
}

.link:active {
  background-color: var(--color-border);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background-color: var(--color-border);
  }
}

@media screen and (min-width: 48rem) {
  .list {
    position: absolute;
    top: 2.188rem;
    width: 20rem;
    height: auto;
    max-height: 30rem;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border-dark);
    border-radius: 0.2rem;
    box-shadow: var(--shadow-lg);
  }

  .link {
    padding: 0.3rem;
  }

  .list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: var(--color-border);
  }
  .list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .list::-webkit-scrollbar-thumb {
    background: var(--color-border-dark);
    border-radius: 100px;
  }
}
