.list {
  height: 70vh;
  padding: 0 0.5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0 inset,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px inset;
}

.not-match {
  padding: 0.5rem;
  font-size: var(--font-12);
  color: var(--color-font-second);
}

.link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link.select {
  background-color: var(--color-border);
}

.link:active {
  background-color: var(--color-border);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background-color: var(--color-border);
  }
}

@media screen and (min-width: 48rem) {
  .list {
    position: absolute;
    top: 2.188rem;
    width: 20rem;
    height: auto;
    max-height: 30rem;
    padding: 0;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border-dark);
    border-radius: 0.2rem;
    box-shadow: var(--shadow-lg);
  }

  .link {
    height: 100%;
    padding: 0.5rem;
  }

  .list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: var(--color-border);
  }
  .list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .list::-webkit-scrollbar-thumb {
    background: var(--color-border-dark);
    border-radius: 100px;
  }
}
