.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  font-size: var(--font-12);
  color: var(--color-dark);
  user-select: none;
  background-color: var(--color-green-second);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.check {
  accent-color: var(--color-brand);
  cursor: pointer;
}

.label {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  cursor: pointer;
}
