.toc {
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: var(--subcategory-tab-level);
  width: 100%;
  overflow-x: auto;
  cursor: pointer;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.toc::-webkit-scrollbar {
  display: none;
}

.list {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

@media screen and (min-width: 48rem) {
  .toc {
    position: sticky;
    top: 4rem;
    z-index: var(--category-detail-tab-level);
    flex-shrink: 0;
    align-self: flex-start;
    width: 10rem;
    max-height: calc(100vh - var(--global-header-height) - 2rem);
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    border-bottom: none;
    border-left: 2px solid var(--color-border);
  }

  .list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }

  /* scrollbar */
  .toc::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 4px;
  }
  .toc::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .toc::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100px;
  }
  .toc:hover::-webkit-scrollbar-thumb {
    background: var(--color-border-dark);
  }
}
