.timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-green);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-lg);
}

.timer.is-alarm {
  background-color: var(--color-red-light);
}

.timer:last-child {
  margin-bottom: 0;
}

.info {
  display: flex;
  align-items: center;
}

.image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 50%;
}

.image {
  object-fit: contain;
}

.time {
  font-size: var(--font-18);
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
}

.reset,
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  margin: 0 0.15rem;
  font-size: var(--font-18);
  border-radius: 50%;
  transition: background-color 0.1s linear;
}

.reset:active,
.close:active {
  background-color: var(--color-border);
}

@media (hover: hover) and (pointer: fine) {
  .reset:hover,
  .close:hover {
    background-color: var(--color-border);
  }
}

.close {
  color: var(--color-red);
}
