.label {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  color: var(--color-dark);
  background-color: var(--color-green-second);
  border-radius: 4rem;
}

.label.small {
  font-size: var(--font-12);
}

.label.yellow {
  background-color: var(--color-yellow);
}

.label.blue {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.label.green-dark {
  background-color: var(--color-green);
}
