.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  background-color: var(--color-blue-dark);
  border-radius: 0.5rem;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 0.25rem;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.image {
  object-fit: contain;
  padding: 0.25rem;
}

.bookmark {
  position: absolute;
  right: 0.1rem;
  bottom: 1rem;
  z-index: var(--bookmark-star-level);
  cursor: pointer;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-dark);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .bookmark:hover {
    background-color: var(--color-brand);
  }
}

.bookmark:active {
  background-color: var(--color-brand);
}

.name {
  width: 100%;
  padding: 0.1rem 0;
  overflow: hidden;
  font-size: var(--font-11);
  color: var(--color-white);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 48rem) {
  .name {
    font-size: var(--font-12);
  }
}
