.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container::after {
  width: 100%;
  margin: 1rem 0;
  content: '';
  border-bottom: 1px dashed var(--color-border-dark);
}

.container:last-child::after {
  display: none;
}

.labels {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.labels:empty {
  display: none;
}
