.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.container:last-child {
  margin-bottom: 0;
}

.index {
  position: relative;
  top: -0.188rem;
  left: -0.375rem;
  font-size: var(--font-18);
  font-style: italic;
  font-weight: bold;
  color: var(--color-brand);
  text-shadow: 1px 1px 2px var(--color-border-dark);
}

.labels {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.labels:empty {
  display: none;
}
