.timer {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1.25rem;
}

.icon {
  position: absolute;
  top: 0.188rem;
  left: 0;
}

.time {
  margin-left: 0.25rem;
}
