.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--side-padding);
  margin: 1rem 0;
}

.save-button {
  width: 4.5rem;
  height: 1.5rem;
  color: var(--color-white);
  cursor: not-allowed;
  background-color: var(--color-border-dark);
  border-radius: 0.5rem;
}

.save-button.not-saved {
  --border-width: 3px;
  position: relative;
  color: var(--color-font-second);
  cursor: pointer;
  background-color: var(--color-yellow);
  border-radius: var(--border-width);
  transition: background-color 0.1s ease;
}

@media (hover: hover) and (pointer: fine) {
  .save-button.not-saved:hover {
    background-color: var(--color-green-light);
  }
}

.save-button.not-saved:after {
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  content: '';
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  border-radius: calc(2 * var(--border-width));
  animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
