.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}
