.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.container:last-child {
  margin-bottom: 0;
}

.labels {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.labels:empty {
  display: none;
}
