.count {
  position: relative;
  display: inline-block;
  min-width: 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-brand);

  &.is-loading {
    text-align: center;
    animation: question-mark 3s linear infinite;
  }
}

@media screen and (min-width: 48rem) {
  .count {
    min-width: 4.25rem;
    font-size: 2.5rem;
  }
}

@keyframes question-mark {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
