.card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--color-bg);
  border-radius: 1rem;
  transition: transform 0.1s ease-in-out;
}

.card.is-active {
  background-color: var(--color-border);
}

.card.is-active .title {
  color: var(--color-brand);
}

.img {
  display: inline-grid;
  transform-style: preserve-3d;
  margin-right: 0.25rem;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background-color: var(--color-border);
    transform: scale(0.9);
  }

  .card.is-active:hover {
    filter: brightness(1.05);
  }

  .card:hover .img {
    animation: rotate-axis 2s linear infinite;
  }

  .card:hover {
    transform: none;
  }
}

.card:active {
  background-color: var(--color-border);
  transform: scale(0.9);
}

.card:active .img {
  animation: rotate-axis 2s linear infinite;
}

.card.row:active {
  transform: none;
}

.front,
.back {
  grid-area: 1 / 1 / 1 / 1;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.title {
  position: relative;
  font-size: var(--font-14);
  font-weight: bold;
  color: var(--color-font);
}

@keyframes rotate-axis {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
