.title {
  padding: 0.5rem var(--side-padding);
  margin: 0 calc(0px - var(--side-padding)) 0.5rem;
  font-size: var(--font-22);
  background-color: #7c61b6;
  box-shadow: var(--shadow);
}

.title span {
  position: relative;
  top: 0.125rem;
  color: var(--color-white);
  /* color: var(--color-dark); */
}

@media screen and (min-width: 48rem) {
  .container {
    padding: 3rem var(--side-padding) 0;
  }

  .title {
    margin: 0 0 0.5rem;
    border-radius: 1rem;
  }
}
