.title {
  padding: 0.5rem var(--side-padding);
  margin: 0 calc(0px - var(--side-padding)) 0.5rem;
  font-size: var(--font-22);
  background: rgb(154, 98, 230);
  background: linear-gradient(
    0deg,
    rgba(154, 98, 230, 1) 0%,
    rgba(181, 137, 214, 1) 100%
  );
  box-shadow: var(--shadow);
}

.title span {
  position: relative;
  top: 0.125rem;
  color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .container {
    padding: 3rem var(--side-padding) 0;
  }

  .title {
    margin: 0 0 0.5rem;
    border-radius: 1rem;
  }
}
