.container {
  width: 100%;
}

.article::after {
  display: block;
  width: 100%;
  margin: 1.25rem 0;
  content: '';
  border-bottom: 1px solid var(--color-border);
}

.article:last-child::after {
  display: none;
}
