.container {
  width: 100%;
}

.article::after {
  display: block;
  width: 100%;
  margin: 1.25rem 0;
  content: '';
  border-bottom: 1px solid var(--color-border);
}

.article:last-child::after {
  display: none;
}

.index {
  position: relative;
  top: -0.188rem;
  left: -0.375rem;
  font-size: var(--font-18);
  font-style: italic;
  font-weight: bold;
  color: var(--color-brand);
  text-shadow: 1px 1px 2px var(--color-border-dark);
}
