.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--sidebar-level);
  width: 16.25rem;
  height: 100%;
  padding: 3.5rem 1rem;
  overflow-y: scroll;
  overscroll-behavior: contain;
  color: var(--color-font);
  background-color: var(--color-bg);
  transition: transform 0.2s ease-in-out;
  transform: translate3d(-16.25rem, 0, 0);
}

.sidebar.is-open {
  transform: translate3d(0, 0, 0);
}

.close {
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  padding: 0.25rem;
  color: var(--color-font);
  border-radius: 50%;
}

.close:active {
  background-color: var(--color-gray);
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 -1rem;
  font-size: var(--font-14);
  font-weight: bold;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.item {
  padding: 0 1rem;
  margin: 0 -1rem;
  border-bottom: 1px solid var(--color-border);
}
